---
layout: layout
---

<div class="content">
    <div id="post">
        <div class="postdate">{{ page.date | date: "%d %B %Y" }}</div>
        <h1>{{ page.title }}</h1>

        {{content}}


        <script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
        <g:plusone size="medium" annotation="none" href="{{ page.url | prepend:'http://davebeer.com' }}"></g:plusone>

        <a href="https://twitter.com/share" class="twitter-share-button" data-url="{{ page.url | prepend:'http://davebeer.com' }}" data-count="none">Tweet</a><script type="text/javascript">!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = "//platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); } } (document, "script", "twitter-wjs");</script>

        <iframe src="//www.facebook.com/plugins/like.php?href={{ page.url | prepend:'http://davebeer.com' | cgi_escape }}&amp;send=false&amp;layout=button_count&amp;width=75&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:75px; height:21px;" allowTransparency="true"></iframe>

        <div class="nextprev">

    <div class="prev">
        {% if page.previous.url %} 
                <a href="{{page.previous.url}}/" title="Previous Post: 
{{page.previous.title}}">&laquo; {{page.previous.title}}</a> 
        {% endif %} 
    </div>

    <div class="next">
        {% if page.next.url %} 
                <a href="{{page.next.url}}/" title="next Post: 
{{page.next.title}}">{{page.next.title}} &raquo; </a> 
        {% endif %} 
    </div>

    <div class="clearall"></div>

</div>

        <p><a href="/" rel="author">Back Home</a></p>

    </div>
</div>




<!--
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) {return;}
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1&appId=277183555658651";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="fb-comments" data-href="http://davebeer.com{{ page.url }}" data-num-posts="50" data-width="500"></div>
-->